.body {
    padding: 50px;
    font: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image:url('/public/image/cinema.jpeg')
  }


  .background {
    background-image: url('/image/cinema.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }