<div class="background">

  <h1>Cinema Ironhack</h1>
  <form action="/movies/list" method="GET">
    <button>Check the movies</button>
  </form>
  <a href="/movies/create">Create new movie</a>
</div>
