<h1>Ironhack Cinema</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/movies/list">Ckeck the movies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-2">
          <h6> create new movie
            <a class="nav-link active" aria-current="page" href="/movies/create"><i class="fa fa-plus fa-fw"></i> </a>
          </h6>
          
        </li>
       
       
      </ul>
    </div>
  </div>
</nav>